<h2>Welkome to PizzaShop!</h2>


<div class="container">
    <div class="row">
        <% @products.each do |p| %>
        <div class="col-md-3">
        
            <h2><%=p.title%></h2>
            <img src="<%=p.path_to_img%>" alt="">
            <p>Размер: <%=p.size%> см</p>
            <p>Цена: <%=p.price%> грн</p>
            <button class="btn btn-sm btn-success" onclick="add_to_card()">Добавить в корзину</button>
        </div>
        <% end %>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary" onclick="foo()">Click me!</button>
        </div>
    </div>
</div>
